@using System.Data;
@model DataSet

<div class="table-responsive table-card order-tabel" style="width:100%">
    <table class="table align-middle table-nowrap mb-0" id="tblActivityData">
        <thead class="table-light text-muted">
            <tr>
                <th width="5%">S.No</th>
                <th>Parent ID</th>
                <th>Father Name</th>
                <th>Arabic Name</th>
                <th>Father Email</th>
                <th>Father Mobile</th>
                <th>Staff</th>
                <th>Mother Name</th>
                <th>Mother Email</th>
                @*<th>Mother Mobile</th>*@
                @*<th>Staff</th>*@
                <th>Active</th>
                <th width=70px">Actions</th>
            </tr>
        </thead>
        <tbody class="list form-check-all">
                @if (Model != null && Model.Tables.Count > 0 && Model.Tables[0].Rows.Count > 0)
                {
                    int i = 0;
                    foreach (DataRow dr in Model.Tables[0].Rows)
                    {
                        i++;
                    <tr>
                        <td>@i</td>
                        <td>
                            <a id="View" onclick="View('@dr["ParentId"]')" style="cursor:pointer" class="fw-medium link-primary">
                                    @{
                                        var imgPath = "~/images/users/avatar-2.png";
                                        if (!string.IsNullOrEmpty(Convert.ToString(dr["ParentImage"])))
                                        {
                                            imgPath = Convert.ToString(dr["ParentImage"]);
                                        }
                                    <img class="avatar sm rounded-circle me-2" style="cursor:pointer" src="@Url.Content(imgPath)">
                                    }
                                <span>@dr["ParentCode"]</span>
                            </a>
                        </td>
                        <td>@dr["FatherName"]</td>
                        <td>@dr["FatherArabicName"]</td>
                        <td>@dr["FatherEmail"]</td>
                        <td>@dr["FatherMobile"]</td>
                        <td>
                                @{
                                    if (Convert.ToBoolean(dr["IsFatherStaff"]))
                                    {
                                    <span>Yes</span>
                                    }
                                    else
                                    {
                                    <span>No</span>
                                    }
                                }
                        </td>
                        <td>@dr["MotherName"]</td>
                        <td>@dr["MotherEmail"]</td>
                            @*<td>@dr["MotherMobile"]</td>*@
                            @* <td>
                @{
                if (Convert.ToBoolean(dr["IsMotherStaff"]))
                {
                <span>Yes</span>
                }
                else
                {
                <span>No</span>
                }
                }
                </td>*@
                        <td>
                                @{
                                    if (Convert.ToBoolean(dr["IsActive"]))
                                    {
                                    <span>Active</span>
                                    }
                                    else
                                    {
                                    <span>In-Active</span>
                                    }
                                }
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-secondary edit-btn" onclick="Edit('@dr["ParentId"]')">
                                    <i class="fa-regular fa-pen-to-square  text-success"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary deleterow" onclick="Delete('@dr["ParentId"]')">
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                }
        </tbody>
    </table>
</div>
<script>
    $("#tblActivityData").DataTable({
        language: {
            search: "<i class='ri-search-line search-icon'></i>",
            searchPlaceholder: "Search ..."
        },
        pageLength: 50,
        // searching: true,
        // info: false,
        // dom: 'rtip',
        // scrollX: true,
        // bFilter: true,
        bSort: true,
        // bPaginate: true,
        // destroy: true,
        // orderCellsTop: true,
        // fixedHeader: true
    });
    $('#tblActivityData').DataTable().on('draw.dt', function () {
        var info = $('#tblActivityData').DataTable().page.info();
        $('#tblActivityData').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;// cell.innerHTML = i + 1 + info.start;
        });
    });
</script>