@model School.Models.WebModels.ParentModels.ParentModel
@{
    ViewData["Title"] = "Parent";
}
<style>
     .arabicText {
         text-align: right;
     }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title d-flex align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Parent</li>
                    <li class="breadcrumb-item active">Add/Edit Parent</li>
                </ol>
                <div>
                    <button type="button" class="btn btn-dark btn-set-task w-sm-100">
                        <a class="breadcrumb-item FeeTypeAction" href="@Url.Action("parentlist","parent")">Back To List</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-relative mx-n4 mt-n4">
    @* <div class="profile-wid-bg profile-setting-img">
        <img src="@Url.Content("~/images/login-bg.jpg")" class="profile-wid-img">
    </div> *@
</div>
<input type="hidden" id="ParentId" value="@Model.ParentId" />
<div class="row">
    <div class="col-xxl-2 col-md-2 col-lg-2 edit-profile">
        <div class="card mt-5">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                        @{
                            var imgPath = "~/images/users/avatar-2.png";
                            if (!string.IsNullOrEmpty(Convert.ToString(Model.ParentImage)))
                            {
                                imgPath = Convert.ToString(Model.ParentImage);
                            }
                                <img src="@Url.Content(imgPath)" id="previewImage" class="rounded-circle avatar-xl img-thumbnail user-profile-image" />
                        }
                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-camera-fill"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-10 col-md-10 col-lg-10 pro-tab">
        <div class="card mt-5">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#parentDetails" role="tab" aria-selected="true">
                            Parent Details
                        </a>
                    </li>
                    @if (Model.ParentId > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#accountInfo" role="tab" aria-selected="false" tabindex="-1">
                                Account details
                            </a>
                        </li>
                    }
                    @if (Model.ParentId > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#uploadDocuments" role="tab" aria-selected="false" tabindex="-1">
                                Documents
                            </a>
                        </li>
                    }
                    @if (Model.ParentId > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#fee-statement" role="tab" aria-selected="false" tabindex="-1">
                                Fee Statement
                            </a>
                        </li>
                    }
                </ul>

            </div>
            <div class="card-body p-4">
                <div class="tab-content">
                    <div class="tab-pane active show" id="parentDetails" role="tabpanel">
                        <div class="row mt-2">
                            <div class="col-lg-3 mb-3 ">
                                <label class="form-label">Parent Id</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-id-badge"></i></span>
                                    @if (Model.ParentId > 0)
                                    {
                                        <input type="text" class="form-control numeric" readonly="readonly" id="ParentCode" placeholder="Enter parent id" asp-for="ParentCode" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control numeric" id="ParentCode" placeholder="Enter parent id" asp-for="ParentCode" />
                                    }
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 ">
                                <label class="form-label">Active</label>
                                <select class="form-select" id="IsActive" asp-for="IsActive" aria-label="Active">
                                    <option value=true>Active</option>
                                    <option value=false>In-Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Father Info</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="FatherName" class="form-label">Father Name</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                                                        <input type="text" class="form-control" id="FatherName" placeholder="Enter father name" asp-for="FatherName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="FatherArabicName" class="form-label">Father Arabic Name</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-language"></i>
                                                        </span>
                                                        <input type="text" class="form-control arabicText" id="FatherArabicName" placeholder="Enter father arabic name" asp-for="FatherArabicName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="FatherNationalityId" class="form-label">Father Nationality</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-globe"></i></span>
                                                        <select id="FatherNationalityId" class="form-select" asp-for="FatherNationalityId" aria-label="Father Nationality"
                                                                asp-items="@(new SelectList(ViewBag.CountryDropdown,"Value", "Text"))">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="FatherEmail" class="form-label">Father Email</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                                        <input type="email" class="form-control" id="FatherEmail" placeholder="Enter father email" asp-for="FatherEmail" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="FatherIqamaNo" class="form-label">Father Iqama No</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="FatherIqamaNo" placeholder="Enter father iqama" asp-for="FatherIqamaNo" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="FatherMobile" class="form-label">Father Mobile</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                                        <input type="text" class="form-control" id="FatherMobile" placeholder="Enter father mobile" asp-for="FatherMobile" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="IsFatherStaff" class="form-label">Staff</label><br />
                                                    <select class="form-select" id="IsFatherStaff" asp-for="IsFatherStaff" aria-label="Status">
                                                        <option value=true>Yes</option>
                                                        <option value=false>No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Mother Info</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="MotherName" class="form-label">Mother Name</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-person-dress"></i></span>
                                                        <input type="text" class="form-control" id="MotherName" placeholder="Enter mother name" asp-for="MotherName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">

                                                    <label for="MotherArabicName" class="form-label">Mother Arabic Name</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-globe"></i></span>
                                                        <input type="text" class="form-control arabicText" id="MotherArabicName" placeholder="Enter mother arabic name" asp-for="MotherArabicName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="MotherNationalityId" class="form-label">Mother Nationality</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-globe"></i></span>
                                                        <select id="MotherNationalityId" class="form-select" asp-for="MotherNationalityId" aria-label="Mother Nationality"
                                                                asp-items="@(new SelectList(ViewBag.CountryDropdown,"Value", "Text"))">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="MotherEmail" class="form-label">Mother Email</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                                        <input type="email" class="form-control" id="MotherEmail" placeholder="Enter mother email" asp-for="MotherEmail" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="MotherIqamaNo" class="form-label">Mother Iqama No</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="MotherIqamaNo" placeholder="Enter mother iqama" asp-for="MotherIqamaNo" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="MotherMobile" class="form-label">Mother Mobile</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                                        <input type="text" class="form-control" id="MotherMobile" placeholder="Enter mother mobile" asp-for="MotherMobile" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="IsMotherStaff" class="form-label">Staff</label>
                                                    <select class="form-select" id="IsMotherStaff" asp-for="IsMotherStaff" aria-label="Status">
                                                        <option value=true>Yes</option>
                                                        <option value=false>No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" id="btnSave" class="btn btn-primary">@(Model.ParentId == 0 ? "Add" : "Update")</button>
                                    <a href="@Url.Action("parentlist","parent")" class="btn btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="accountInfo" role="tabpanel">
                        <div class="row mt-2">
                            <div class="col-lg-3 mb-3 ">
                                <label class="form-label">Receivable Account</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-file-invoice"></i></span>
                                    <input type="text" class="form-control" id="ReceivableAccount" placeholder="Enter receivable account" asp-for="AccountModel.ReceivableAccount" />
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3 ">
                                <label class="form-label">Advance Account</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-file-invoice"></i></span>
                                    <input type="text" class="form-control" id="AdvanceAccount" placeholder="Enter advance account" asp-for="AccountModel.AdvanceAccount" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" id="btnSaveAccount" class="btn btn-primary">@(Model.ParentId == 0 ? "Add" : "Update")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="uploadDocuments" role="tabpanel">
                        <div class="d-flex align-items-center mb-4">
                            <h5 class="flex-grow-1 mb-0">&nbsp;</h5>
                            <div class="flex-shrink-0">
                                <button type="button" onclick="OpenAttachmentPopUp('@((int)School.Common.DocFor.Parent)')" class="btn btn-dark">
                                    <i class="ri-upload-2-fill me-1 align-bottom"></i>Upload File
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" id="dvAttachments">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="fee-statement" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                             @Html.Partial("_StudentFeeStatementFilterPartial")
                                        </div>
                                        <div class="table-responsive" id="statement-fee-load">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/working/document.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {
            $('.numeric').keyup(function () {
                this.value = this.value.replace(/[^0-9.]/g, '');
            });

            loadParentStudentStatementReportByFilter()

            const fileInput = document.getElementById('profile-img-file-input');
            const imagePreview = document.getElementById('previewImage');
            fileInput.addEventListener('change', function () {
                const file = this.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        imagePreview.src = event.target.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    imagePreview.src = '#';
                }
                if (parseInt($("#ParentId").val()) > 0 && file) {
                    UploadImage();
                }
            });
            LoadAttachments(parseInt($("#ParentId").val()), '@((int)School.Common.DocFor.Parent)');
            $("#btnSave").click(function () {
                var formData = new FormData();
                formData.append('ParentId', $("#ParentId").val());
                formData.append('parentImage', $("#profile-img-file-input")[0].files[0]);
                formData.append('ParentCode', $("#ParentCode").val());
                formData.append('FatherName', $("#FatherName").val());
                formData.append('FatherArabicName', $("#FatherArabicName").val());
                formData.append('FatherNationalityId', $("#FatherNationalityId").val());
                formData.append('FatherEmail', $("#FatherEmail").val());
                formData.append('FatherMobile', $("#FatherMobile").val());
                formData.append('FatherIqamaNo', $("#FatherIqamaNo").val());
                formData.append('IsFatherStaff', $("#IsFatherStaff").val());
                formData.append('MotherName', $("#MotherName").val());
                formData.append('MotherArabicName', $("#MotherArabicName").val());
                formData.append('MotherNationalityId', $("#MotherNationalityId").val());
                formData.append('MotherEmail', $("#MotherEmail").val());
                formData.append('MotherMobile', $("#MotherMobile").val());
                formData.append('MotherIqamaNo', $("#MotherIqamaNo").val());
                formData.append('IsMotherStaff', $("#IsMotherStaff").val());
                formData.append('IsActive', $("#IsActive").val());
                if (ValidateForm(formData)) {
                    if (formData.get("ParentId") == "0") {
                        SaveParent(formData);
                    }
                    else {
                        var dlg_updatePromo = bootbox.dialog({
                            message: 'Are you sure! you want to update the record?',
                            title: 'Confirm',
                            buttons: {
                                ok: {
                                    label: "Yes",
                                    className: 'btn-primary',
                                    callback: function () {
                                        SaveParent(formData);
                                    }
                                },
                                cancel: {
                                    label: "No",
                                    className: 'btn-danger',
                                    callback: function () {
                                        $(dlg_updatePromo).modal('hide');
                                    }
                                }
                            }
                        });
                        dlg_updatePromo.find('.modal-header').css('background-color', '#dc3545').css('border-bottom', '1px solid #dc3545');
                    }
                }
            });

            $("#btnSaveAccount").click(function () {
                var formData = new FormData();
                formData.append('ParentId', $("#ParentId").val());
                formData.append('ReceivableAccount', $("#ReceivableAccount").val());
                formData.append('AdvanceAccount', $("#AdvanceAccount").val());
                if (ValidateAccountForm(formData)) {
                    var dlg_updatePromo = bootbox.dialog({
                        message: 'Are you sure! you want to update account detail?',
                        title: 'Confirm',
                        buttons: {
                            ok: {
                                label: "Yes",
                                className: 'btn-primary',
                                callback: function () {
                                    SaveParentAccount(formData);
                                }
                            },
                            cancel: {
                                label: "No",
                                className: 'btn-danger',
                                callback: function () {
                                    $(dlg_updatePromo).modal('hide');
                                }
                            }
                        }
                    });
                    dlg_updatePromo.find('.modal-header').css('background-color', '#dc3545').css('border-bottom', '1px solid #dc3545');
                }
            });
        });
        function ValidateForm(formData) {
            let isError = false;
            if (!formData.get("ParentCode") || !formData.get("ParentCode").trim()) {
                $app.notify.validate("ParentCode", "Parent Id is required");
                isError = true;
            }
            if (!formData.get("FatherName") || !formData.get("FatherName").trim()) {
                $app.notify.validate("FatherName", "Father name is required");
                isError = true;
            }
            if (!formData.get("FatherEmail") || !formData.get("FatherEmail").trim()) {
                $app.notify.validate("FatherEmail", "Father email is required");
                isError = true;
            }
            if (!formData.get("FatherMobile") || !formData.get("FatherMobile").trim()) {
                $app.notify.validate("FatherMobile", "Father mobile is required");
                isError = true;
            }
            if (!formData.get("FatherIqamaNo") || !formData.get("FatherIqamaNo").trim()) {
                $app.notify.validate("FatherIqamaNo", "Father iqama no is required");
                isError = true;
            }
            if (!formData.get("FatherNationalityId") || !formData.get("FatherNationalityId").trim() || formData.get("FatherNationalityId").trim() == "0") {
                $app.notify.validateDD("FatherNationalityId", "Father nationality is required");
                isError = true;
            }
            if (!formData.get("MotherName") || !formData.get("MotherName").trim()) {
                $app.notify.validate("MotherName", "Mother name is required");
                isError = true;
            }
            if (!formData.get("MotherEmail") || !formData.get("MotherEmail").trim()) {
                $app.notify.validate("MotherEmail", "Mother email is required");
                isError = true;
            }
            if (!formData.get("MotherNationalityId") || !formData.get("MotherNationalityId").trim() || formData.get("MotherNationalityId").trim() == "0") {
                $app.notify.validateDD("MotherNationalityId", "Mother nationality  is required");
                isError = true;
            }
            // if (!formData.get("MotherIqamaNo") || !formData.get("MotherIqamaNo").trim()) {
            //     $app.notify.validate("MotherIqamaNo", "Mother iqama no is required");
            //     isError = true;
            // }
            if (isError) {
                return false;
            }
            else {
                return true;
            }
        }
        function ValidateAccountForm(formData) {
            let isError = false;
            if (!formData.get("ReceivableAccount") || !formData.get("ReceivableAccount").trim()) {
                $app.notify.validate("ReceivableAccount", "Receivable account is required");
                isError = true;
            }   
            if (isError) {
                return false;
            }
            else {
                return true;
            }
        }
        function SaveParent(dataModel) {
            var urlToCall = '@Url.Action("SaveParent", "Parent")';
            $.post({
                url: urlToCall,
                data: dataModel,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.result > 0) {
                        $("#ParentId").val(response.result);
                        $app.messageBox.success("Data has been saved!", "Success", RedirectToEdit)
                    }
                    else if (response.result == -2) {
                        $app.notify.error("Data already exists!");
                    }
                    else {
                        $app.notify.error("Error in saving!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $app.notify.error("Error in saving!");
                }
            });
        }
        function SaveParentAccount(dataModel) {
            var urlToCall = '@Url.Action("UpdateAccount", "Parent")';
            $.post({
                url: urlToCall,
                data: dataModel,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.result == 0) {
                        $app.messageBox.success("Data has been updated!", "Success")
                    }                   
                    else {
                        $app.notify.error("Error in saving!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $app.notify.error("Error in saving!");
                }
            });
        }
        function UploadImage() {
            var formData = new FormData();
            formData.append('profilePic', $("#profile-img-file-input")[0].files[0]);
            formData.append('ParentId', $("#ParentId").val());
            var urlToCall = '@Url.Action("UploadProfilePicture", "Parent")';
            $.post({
                url: urlToCall,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.result == 0) {
                    }
                    else if (response.result == -2) {
                        $app.notify.error("Error in upload!");
                    }
                    else {
                        $app.notify.error("Error in upload!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $app.notify.error("Error in saving!");
                }
            });
        }
        function RedirectToEdit() {

            var url = '@Url.Action("AddEditParent", "Parent")';
            url = url + "?parentId=" + $("#ParentId").val()
            window.location.href = url;
        }

        function OpenAttachmentPopUp(DocFor) {
            var op = { title: 'Upload Attachment' }
            var url = baseUrl + 'Attachment/UploadAttachmentPartial?DocFor=' + parseInt(DocFor) + "&DocForId=" + parseInt($("#ParentId").val());
            $app.openViewDialog(url, op);
        }

        function RefreshSearch() {
            //$("#filterAcademicYear").val(0);
            loadParentStudentStatementReportByFilter();
        }

        function loadParentStudentStatementReportByFilter() {
            var filterDataObj = {
                ParentId: '@Model.ParentId',
                ParentName: '',
                FatherIqama: '',
                FatherMobile: '',
                AcademicYear: $("#filterAcademicYear").val()
            };
            ParentStudentStatementReportLoad(filterDataObj);
        }

        function ParentStudentStatementReportLoad(filterDataObj) {
            $('#statement-fee-load').empty();
            $('#statement-fee-load').html('<div class="row"> <div class="col-xl-12"><div class="card order-card"><span class="text-center no-text" style="color:#212529;"><img src="@Url.Content("~/images/loding.gif")"  /></span></div></div></div>');
            var urlToCall = baseUrl + 'Report/ParentStudentStatementReportDataPartial';
            $app.post(urlToCall, filterDataObj).then(function (response) {
                $('#statement-fee-load').html(response);
            });
        }
            
        function ExportExcelStatement() {
            var filterDataObj = {
                reportName: "Parent Statement",
                parentId: '@Model.ParentId', // Default to 0 if empty
                parentName: "",
                fatherIqama:  "",
                fatherMobile: "",
                academicYear:$("#filterAcademicYear").val() // Default to 0 if empty
            };

            var urlToCall = baseUrl + 'Report/ExportParentStudentStatemetToExcel';

            fetch(urlToCall, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(filterDataObj)
            })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text || 'Network error');
                    });
                }
                return response.blob(); // Get the response as a Blob
            })
            .then(blob => {
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = filterDataObj.reportName + ".xlsx";
                link.click();
                window.URL.revokeObjectURL(link.href);
            })
            .catch(error => {
                console.error("Error exporting report:", error);
                alert("An error occurred while exporting the report: " + error.message);
            });
        }
    </script>
}
