@model School.Models.WebModels.ParentModels.ParentModel
<div class="card chart-card">
    <div class="user-profile-header">
        <div class="single-user-info">
            <img src="assets/images/avatar-1.jpg" alt="">
            <div class="user-profile-name">
                <h4>@Model.MotherName</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="user-profile-box">
            <ul>
                <li>Mother Name</li>
                <li>@Model.MotherName</li>

                <li>Mother Iqama Number</li>
                <li>@Model.MotherIqamaNo</li>

                <li>Mother Mobile</li>
                <li>@Model.MotherMobile</li>

                <li>Mother Email</li>
                <li>@Model.MotherEmail</li>

                <li>Mother Country</li>
                <li>@Model.MotherCountryName</li>
            </ul>
        </div>
    </div>
</div>
