@model School.Models.WebModels.ParentModels.ParentModel

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th colspan="2" class="text-center">Father Details</th>
            <th colspan="2" class="text-center">Mother Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Father Name</strong></td>
            <td>@Model.FatherName</td>
            <td><strong>Mother Name</strong></td>
            <td>@Model.MotherName</td>
        </tr>
        <tr>
            <td><strong>Father Iqama Number</strong></td>
            <td>@Model.FatherIqamaNo</td>
            <td><strong>Mother Iqama Number</strong></td>
            <td>@Model.MotherIqamaNo</td>
        </tr>
        <tr>
            <td><strong>Father Mobile</strong></td>
            <td>@Model.FatherMobile</td>
            <td><strong>Mother Mobile</strong></td>
            <td>@Model.MotherMobile</td>
        </tr>
        <tr>
            <td><strong>Father Email</strong></td>
            <td>@Model.FatherEmail</td>
            <td><strong>Mother Email</strong></td>
            <td>@Model.MotherEmail</td>
        </tr>
        <tr>
            <td><strong>Father Country</strong></td>
            <td>@Model.FatherCountryName</td>
            <td><strong>Mother Country</strong></td>
            <td>@Model.MotherCountryName</td>
        </tr>
    </tbody>
</table>
