@using School.Models.WebModels.StudentModels;
@model StudentSiblingDiscountDetail;
<div class="table-responsive">
	<table class="table align-middle table-nowrap mb-0" id="tblSiblingDiscountData">
		<thead class="table-light text-muted">
			<tr>
				<th class="text-center" style="width: 5%">S.No</th>
				<th>Academic Year</th>
				<th>Student Name</th>
				<th>Grade</th>
				<th>Discount Percent</th>
				<th>Status</th>
				@if (!Model.IsReadOnly)
				{
					<th width="70px">Action</th>
				}
			</tr>
		</thead>
		<tbody class="list form-check-all">
			@if (Model != null && Model.StudentSiblingDiscountRecords.Tables.Count > 0 && Model.StudentSiblingDiscountRecords.Tables[0].Rows.Count > 0)
			{
				int i = 0;
				foreach (System.Data.DataRow dr in Model.StudentSiblingDiscountRecords.Tables[0].Rows)
				{
					i++;
					<tr>
						<td class="text-center">@i</td>
						<td>@dr["AcademicYear"]</td>
						<td>@dr["StudentName"]</td>
						<td>@dr["GradeName"]</td>
						<td>@dr["DiscountPercent"]</td>
						<td>
							<div class="avatar-group">
								<ul class="table-list">
									@if (Convert.ToInt32(dr["DiscountStatus"]) == 1)
									{
										<li>Added</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 2)
									{
										<li>
											Pending for Approval
										</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 3)
									{
										<li>
											Approved (Discount Applied)
										</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 4)
									{
										<li>
											Rejected
										</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 5)
									{
										<li>
											Discount Cancel (Pending for Approval)
										</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 6)
									{
										<li>
											Discount Cancelled
										</li>
									}
									else if (Convert.ToInt32(dr["DiscountStatus"]) == 7)
									{
										<li>
											Discount Cancel: Rejected
										</li>
									}
								</ul>
							</div>
						</td>
						@if (!Model.IsReadOnly)
						{
							<td>
								@if (Convert.ToInt32(dr["DiscountStatus"]) == 1 || Convert.ToInt32(dr["DiscountStatus"]) == 4)
								{
									<div class="dropdown">
										<a href="javascript:void(0);" class="btn btn-light btn-icon" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="true">
											<i class="ri-equalizer-fill"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 23px);">
											<li><a class="dropdown-item" style="cursor:pointer;" onclick="EditSiblingDiscount('@dr["StudentSiblingDiscountDetailId"]','@dr["AcademicYearId"]','@dr["DiscountPercent"]')">Edit</a></li>
											<li><a class="dropdown-item" style="cursor:pointer;" onclick="SiblingDiscountStatusProcess('2','@dr["StudentSiblingDiscountDetailId"]')">Apply for Approval</a></li>
											<li class="dropdown-divider"></li>
											<li><a class="dropdown-item" style="cursor:pointer;" onclick="DeleteSiblingDiscount('@dr["StudentSiblingDiscountDetailId"]')">Delete</a></li>
										</ul>
									</div>
								}
								@if (Convert.ToInt32(dr["DiscountStatus"]) == 3 || Convert.ToInt32(dr["DiscountStatus"]) == 7)
								{
									<div class="dropdown">
										<a href="javascript:void(0);" class="btn btn-light btn-icon" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="true">
											<i class="ri-equalizer-fill"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 23px);">
											<li><a class="dropdown-item" style="cursor:pointer;" onclick="SiblingDiscountStatusProcess('5','@dr["StudentSiblingDiscountDetailId"]')">Cancle Discount</a></li>
										</ul>
									</div>
								}

								@* 	<div class="btn-group" role="group" aria-label="Basic outlined example">
					<button type="button" class="btn btn-outline-secondary edit-btn" onclick="EditSiblingDiscount('@dr["StudentSiblingDiscountDetailId"]','@dr["AcademicYearId"]','@dr["DiscountPercent"]')">
					<i class="fa-regular fa-pen-to-square  text-success"></i>
					</button>
					<button type="button" class="btn btn-outline-secondary deleterow" onclick="DeleteSiblingDiscount('@dr["StudentSiblingDiscountDetailId"]')">
					<i class="fa-solid fa-trash-can text-danger"></i>
					</button>
					</div> *@
							</td>
						}
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		var table = $('#tblSiblingDiscountData').DataTable({
			language: {
				search: "<i class='ri-search-line search-icon'></i>",
				searchPlaceholder: "Search ..."
			},
			pageLength: 10,
			ordering: true,
			responsive: true,
			columnDefs: [
				{ orderable: false, targets: 0 }
			],
			drawCallback: function (settings) {
				var api = this.api();
				var info = api.page.info();
				api.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
					cell.innerHTML = i + 1;// cell.innerHTML = i + 1 + info.start;
				});
			}
		});
	});
</script>