@{
	ViewData["Title"] = "Student List";
}

<div class="row">
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<div class="page-title d-flex align-items-center justify-content-between">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item">Student</li>
					<li class="breadcrumb-item active">Student List</li>
				</ol>
				<div>
					<button type="button" class="btn btn-secondary" onclick="ExportCSV('Student','Student Report')">
						Export to Excel
					</button>
					<button type="button" class="btn btn-dark btn-set-task w-sm-100" onclick="Create()">
						<i class="fa-solid fa-plus"></i> Add
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div style="margin-bottom:10px;">
			<button class="btn btn-dark btn-warning w-sm-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
				<i class="mx-1 fa-solid fa-filter"></i>Filter
			</button>
		</div>
		<div class="collapse" id="filterCollapse">
			@Html.Partial("_StudentFilterPartial")
		</div>
		<div class="row g-3">
			<div class="col-lg-12 col-md-12">
				<div class="tab-content screen-list">
					<div class="tab-pane fade show active" id="student-load">
						<div class="table-responsive table-card order-tabel" style="width:100%">
							<table class="table align-middle table-nowrap mb-0" id="tblActivityDataTemp">
								<thead class="table-light text-muted">
									<tr>
										<th width="2%">S.No</th>
										<th>Student Code</th>
										<th>Parent ID</th>
										<th>Name</th>
										<th>Arabic Name</th>
										<th>Nationality</th>
										<th>Gender</th>
										<th>Grade</th>
										<th width=70px">Actions</th>
									</tr>
								</thead>
								<tbody class="list form-check-all">
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
										@section scripts {
	<script>
		$("#tblActivityDataTemp").DataTable({
			language: {
				search: "<i class='ri-search-line search-icon'></i>",
				searchPlaceholder: "Search ..."
			}

		});
		$(function () {
			loadStudentByFilter();
		});
		function RefreshSearch() {
			$("#filterSearch").val("");
			$("#filterNationalityId").val("0");
			$("#filterGenderId").val("0");
			$("#filterGradeId").val("0");
			$("#filterCostCenterId").val("0");
			$("#filterSectionId").val("0");
			// $("#FilterEmail").val(""),
			$("#FilterSearch").val(""),
			$("#filterStatusId").val("true");
			$("#filterIsActive").val("true");
			loadStudentByFilter();
		}
		function loadStudentByFilter() {
			var filterDataObj = {
				FilterSearch: $("#filterSearch").val(),
				FilterNationalityId: $("#filterNationalityId").val(),
				FilterGenderId: $("#filterGenderId").val(),
				FilterGradeId: $("#filterGradeId").val(),
				FilterCostCenterId: $("#filterCostCenterId").val(),
				FilterSearch: $("#FilterSearch").val(),
				// FilterMobileNumber: $("#FilterMobileNumber").val(),
				FilterStatusId: $("#filterStatusId").val(),
				FilterIsActive: $("#filterIsActive").val()
			};
			StudentLoad(filterDataObj);
		}
		function StudentLoad(filterDataObj) {
			//$('#student-load').empty();
			//$('#student-load').html('<div class="row"> <div class="col-xl-12"><div class="card order-card"><span class="text-center no-text" style="color:#212529;"><img src="@Url.Content("~/images/loding.gif")"  /></span></div></div></div>');
			var urlToCall = baseUrl + 'Student/StudentDataPartial';
			$app.post(urlToCall, filterDataObj).then(function (response) {
				$('#student-load').empty();
				$('#student-load').html(response);
			});
		}

		function Create() {
			var url = '@Url.Action("AddEditStudent", "Student")';
			window.location.href = url;
		}

		function Edit(studentId) {
			var url = '@Url.Action("AddEditStudent", "Student")';
			url = url + '?studentId=' + studentId;
			window.location.href = url;
		}
		function View(studentId) {
			var url = '@Url.Action("ViewStudent", "Student")';
			url = url + '?studentId=' + studentId;
			window.location.href = url;
		}

		function Delete(studentId) {
			var dlg_removePromo = bootbox.dialog({
				message: 'Are you sure! you want to delete the record?',
				title: 'Remove',
				buttons: {
					ok: {
						label: "Yes",
						className: 'btn-primary',
						callback: function () {
							var urlToCall = '@Url.Action("DeleteStudent", "Student")';
							urlToCall = urlToCall + '?studentId=' + studentId;

							$app.get(urlToCall).then(function (response) {
								if (response.result == 0) {
									bootbox.hideAll();
									$app.notify.success("Data has been deleted!");
									loadStudentByFilter();
								}
								else if (response.result == 547) {
									$app.notify.error("Error in deleting! Record already in use.");
								}
								else {
									$app.notify.error("Error in deleting!");
								}
							});
						}
					},
					cancel: {
						label: "No",
						className: 'btn-danger',
						callback: function () {
							$(dlg_removePromo).modal('hide');
						}
					}
				}
			});
			dlg_removePromo.find('.modal-header').css('background-color', '#dc3545').css('border-bottom', '1px solid #dc3545');
		}
	</script>
										}