@using School.Models.WebModels.InvoiceSetupModels;
@model InvInvoiceDetailTuitionFeeModel

<div class="row">
            <input type="hidden" id="InvoiceDetailId" name="InvoiceDetailId" asp-for="InvoiceDetailId" />
    <input type="type" hidden asp-for="SessionKey" name="name" value="@Model.SessionKey" />
            <div class="row">
                <div class="col-xxl-6 col-md-6">
                    <div class="mb-3">
                        <label for="AcademicYear" class="form-label">Academic Year</label>
                        <div class="input-group">
                            <select id="AcademicYear" class="form-select" aria-label="Academic Year"
                                    asp-items="@(new SelectList(ViewBag.AcademicYearDropDown,"Value", "Text"))">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="FatherIqama" class="form-label">Father Iqama Number</label>
                <input type="text" id="IqamaNumber" class="form-control" asp-for="IqamaNumber" placeholder="Father Iqama Number">
                    </div>
                </div>
            </div>
            <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="ParentId" class="form-label">Parent ID</label>
                <div class="input-group">
                    <select id="ParentId" class="form-select " asp-for="ParentId" aria-label="Parent"
                            asp-items="@(new SelectList(ViewBag.ParentDropdown,"Value", "Text"))">
                    </select>
                    <a class="search-lookup" onclick="ParentLookup();"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="ParentName" class="form-label"> Parent Name</label>
                <input type="text" id="ParentName" class="form-control" asp-for="ParentName" placeholder="Parent Name">
            </div>
        </div>
                </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="StudenId" class="form-label">Student Id</label>
                        <div class="input-group">
                    <select id="StudentId" class="form-select" asp-for="StudentId" aria-label="Student Id">
                        <option value="">--Select--</option>
                    </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="StudentName" class="form-label"> Student Name</label>
                        <input type="text" id="StudentName" class="form-control" asp-for="StudentName" placeholder="Student Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="Nationality" class="form-label">Nationality</label>
                        <div class="input-group">
                            <select id="Nationality" class="form-select" aria-label="Nationality"
                                    asp-items="@(new SelectList(ViewBag.CountryDropDown,"Value", "Text"))">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="Grade" class="form-label">Grade</label>
                        <div class="input-group">
                            <select id="GradeId" class="form-select" aria-label="Academic Year"
                                    asp-items="@(new SelectList(ViewBag.GradeDropDown,"Value", "Text"))">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="Discount" class="form-label"> Discount</label>
                        <input type="text" id="Discount" class="form-control" asp-for="Discount" placeholder="Discount">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="VAT" class="form-label">VAT</label>
                        <input type="text" id="TaxRate" class="form-control" asp-for="TaxRate" readonly placeholder="VAT">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="VAT" class="form-label">Total VAT</label>
                       <input type="text" id="TaxAmount" class="form-control" asp-for="TaxAmount" readonly placeholder="Total Vat">
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="Discount" class="form-label"> Net Balance</label>
                <input type="text" id="UnitPrice" asp-for="UnitPrice" class="form-control" placeholder="Net Balance">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="VAT" class="form-label">Total</label>
                        <input type="text" id="ItemSubtotal" asp-for="ItemSubtotal" class="form-control" placeholder="Total">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success theme-btn" type="button" onclick="BindData()">@(Model.InvoiceDetailId > 0 ? "Update" : "Add")</button>
        <button class="btn btn-secondary" type="button" onclick="hideDialog();">Cancel</button>
            </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.textCapital').keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });

        $.ajax({
            url: '@Url.Action("GetVATDetail", "InvoiceReturn")',
            type: 'GET',
            data: { invoiceTypeName: "Tuition Fee" },
            success: function (data) {
                $("#TaxRate").val(data.vatTaxPercent);
                calculateTotal();
            }
        });

        function fetchFeeAmount() {
            var academicYearId = $('#AcademicYear').val();
            var studentId = $('#StudentId').val();
            if (academicYearId && studentId) {
                $.ajax({
                    url: '@Url.Action("GetFeeAmount", "InvoiceReturn")',
                    type: 'GET',
                    data: {
                        academicYearId: academicYearId,
                        invoiceTypeName: "ENTRANCE",
                        studentId: studentId,
                    },
                    success: function (data) {
                        console.log(data);
                        $("#UnitPrice").val(data.finalFeeAmount);
                        calculateTotal();
                    }
                });
            }
        }
        $('#AcademicYear').change(function () {
            fetchFeeAmount(); 
        });
        $('#StudentId').change(function () {
            fetchFeeAmount(); 
        });

        $('#ParentId').change(function () {
            var parentId = $(this).val();
            if (parentId) {
                $.ajax({
                    url: '@Url.Action("GetParentById", "InvoiceReturn")',
                    type: 'GET',
                    data: { parentId: parentId },
                    success: function (data) {
                        console.log(data)
                        $('#ParentName').val(data[0].FatherName);
                        $('#IqamaNumber').val(data[0].FatherIqamaNo);
                        $('#Nationality').val(data[0].FatherNationalityId);
                    }
                });
            } else {
                $('#ParentName').val('');
                $('#IqamaNumber').val('');
                $('#Nationality').val('');
            }
        });
        $('#ParentId').change(function () {
            var parentId = $(this).val();
            if (parentId) {
                $.ajax({
                    url: '@Url.Action("GetStudentByParentId", "InvoiceReturn")',
                    type: 'GET',
                    data: { parentId: parentId },
                    success: function (data) {
                        console.log(data);
                        var selectStudentId = $('#StudentId');
                        data.forEach(function (record) {
                            selectStudentId.append('<option value="' + record.StudentId + '">' + record.StudentId + " - " + record.StudentName + '</option>');
                        });
                    }
                });
            } 
        });
        $('#StudentId').change(function () {
            var studentId = $(this).val();
            if (studentId) {
                $.ajax({
                    url: '@Url.Action("GetStudentById", "InvoiceReturn")',
                    type: 'GET',
                    data: { studentId: studentId },
                    success: function (data) {
                        console.log(data)
                        $('#StudentName').val(data[0].StudentName);
                        $('#GradeId').val(data[0].GradeId);
                      
                    }
                });
            } else {
                $('#StudentName').val('');
                $('#GradeId').val('');
            }
        });

        $('#TaxRate, #UnitPrice, #Discount').on('input', function () {
            calculateTotal();
        });

        function calculateTotal() {
            var unitPrice = parseFloat($('#UnitPrice').val()) || 0;
            var discount = parseFloat($('#Discount').val()) || 0;
            var vat = parseFloat($('#TaxRate').val()) || 0;
            var totalvat = (unitPrice  - discount) * vat / 100;
            var total = totalvat + unitPrice - discount;
            $('#TaxAmount').val(totalvat.toFixed(2));
            $('#ItemSubtotal').val(total.toFixed(2));
        }
    });
    function BindData() {
        var dataObj = {
            InvoiceType :"Tuition Fee",
            InvoiceDetailId: $("#InvoiceDetailId").val(),
            IqamaNumber: $("#IqamaNumber").val(),
            AcademicYear: $("#AcademicYear").val(),
            ParentId: $("#ParentId").val(),
            ParentName: $("#ParentName").val(),
            StudentId: $("#StudentId").val(),
            StudentName: $("#StudentName").val(),
            Nationality: $("#Nationality").val(),
            GradeId: $("#GradeId").val(),
            Discount: $("#Discount").val(),
            UnitPrice: $("#UnitPrice").val(),
            TaxAmount: $("#TaxAmount").val(),
            TaxableAmount: 0,
            TaxRate: $("#TaxRate").val(),
            ItemSubtotal: $("#ItemSubtotal").val(),
            SessionKey: $("#SessionKey").val(),
        };
        if (Validation(dataObj)) {
            if (dataObj["InvoiceDetailId"] == "0") {
                SaveTuitionFee(dataObj);

            }
            else {
                var dlg_updatePromo = bootbox.dialog({
                    message: 'Are you sure! you want to update the record?',
                    title: 'Confirm',
                    buttons: {
                        ok: {
                            label: "Yes",
                            className: 'btn-primary',
                            callback: function () {
                                SaveTuitionFee(dataObj);
                            }
                        },
                        cancel: {
                            label: "No",
                            className: 'btn-danger',
                            callback: function () {
                                $(dlg_updatePromo).modal('hide');
                            }
                        }
                    }
                });
                dlg_updatePromo.find('.modal-header').css('background-color', '#dc3545').css('border-bottom', '1px solid #dc3545');
            }
        }
    }
    function Validation(dataObj) {
        var isError = false;
        if (!dataObj["ParentName"] || !dataObj["ParentName"].trim()) {
            $app.notify.validate("ParentName", "ParentName is required");
            isError = true;
        }
        if (isError) {
            return false;
        }
        else {
            return true;
        }
    }

    function hideDialog(){
        bootbox.hideAll();
    }

    function ParentLookup() {
        var op = { title: 'Search Parent' }
        var url = '@Url.Action("ParentLookupPartial", "Student")';
        $app.openViewDialog(url, op);
    }
    function BindParent(parentId) {
        $("#ParentId").val(parentId).trigger('change')
    }
</script>