@using System.Data;
@using School.Models.WebModels.InvoiceSetupModels
@model List<InvInvoiceDetailModel>;

<div class="table-responsive table-card order-tabel" style="width:100%">
    <table class="table align-middle table-nowrap mb-0" id="tblDetailActivityData">
        <thead class="table-light text-muted">
            <tr>
                <th width="5%">S.No</th>
                <th>Invoice Type</th>
                <th>Academic Year</th>
                <th>Parent Id</th>
                <th>Parent Name</th>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Quantity</th>
                @* <th>Total Vat</th> *@
             @*    <th>Price With Discount</th> *@

                <th>Price</th>
                <th>Total</th>
                @* <th>Student Id</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Invoice Item Price</th>
                <th>Discount</th>
                <th>Tax Rate%</th>
                <th>Tax Amount</th>
                <th>Item Subtotal</th> *@
                <th width="70px">Actions</th>
            </tr>
        </thead>
        <tbody class="list form-check-all">
            @if (Model != null && Model.Count > 0 )
            {
                int i = 0;
                foreach (var dr in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@dr.InvoiceType</td>
                        <td>@dr.AcademicYear</td>
                        <td>@dr.ParentId</td>
                        <td>@dr.ParentName</td>
                        <td>@dr.StudentId</td>
                        <td>@dr.StudentName</td>
                        <td>@dr.Quantity</td>
                       @*  <td>@dr.TotalVat</td> *@
                      @*   <td>@dr.TaxableAmount</td> *@
                          <td>@dr.UnitPrice</td>
                        <td>@dr.ItemSubtotal</td>
                       
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-secondary edit-btn" title="Edit" onclick="Edit('@dr.SessionKey')">
                                    <i class="fa-regular fa-pen-to-square  text-success"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary deleterow" title="Delete" onclick="Delete('@dr.SessionKey')">
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#tblDetailActivityData").DataTable({
        language: {
            search: "<i class='ri-search-line search-icon'></i>",
            searchPlaceholder: "Search ..."
        },
        pageLength: 50,
        // searching: true,
        // info: false,
        // dom: 'rtip',
        // scrollX: true,
        // bFilter: true,
        bSort: false,
        // bPaginate: true,
        // destroy: true,
        // orderCellsTop: true,
        // fixedHeader: true
    });
    $('#tblDetailActivityData').DataTable().on('draw.dt', function () {
        var info = $('#tblDetailActivityData').DataTable().page.info();
        $('#tblDetailActivityData').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;// cell.innerHTML = i + 1 + info.start;
        });
    });
</script>